body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.main {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 16px 52px 0 rgba(0,0,0,0.19);
    background-color: white;
    width: 20%;
    height: 20%;
    margin-left: 200px;
    padding: 220px 80px;
}
.contact1 {
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.name {
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.contact2 {
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.phone {
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.contact3 {
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.mail {
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.title {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    transform: translate(0px, -70px);
}
.spisok {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button1 {
    font-size: 20px;
    margin: 2% 7%;
    padding: 80px 28px ;
    margin: 20px;
}
.click {
    cursor: pointer;
    text-align: center;
    border-radius: 8px;    
    padding: 10px 70px ;
    background-color: Transparent;
    background-repeat: no-repeat;
}
.click:hover {
    background-color: black;
    color: white;
}
.click:active {
    background-color: black;
    
    transform: translateY(4px);
}